@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "variables";
/* Style the accordion section */
.accordion__section {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  border-radius: 5px;

  &:nth-child(1) {
    margin-top: 0;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;

  cursor: pointer;
  padding: 18px;

  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .accordion:hover,
// .active {
//   // text-decoration: underline wavy $primary;
// }

/* Style the accordion content title */

.accordion__icon {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0;
}

.accordion__info {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  * {
    margin: 0;
  }

  &:before {
    background-color: red;
    height: 100px;
    width: 10px;
  }
}
