@import "variables";

.button {
  width: 100%;
  display: inline-block;
  a {
    background-color: transparent;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    line-height: 1.4;
    font-weight: 600;
    border: solid 1px black;
    transition: 0.1s ease-in-out;

    &:focus {
      outline: none;
    }
    &:active {
      background-color: $primary;
    }

    svg {
      animation: nudge 1000ms linear infinite alternate;
    }
  }
}
@include md {
  .button {
    width: 80%;
    a {
      &:hover {
        background-color: lighten($primary, 15%);
      }
      &:active {
        background-color: $primary;
      }
    }
  }
}
