@import "variables";

.button {
  width: 100%;
  display: inline-block;
  a {
    background-color: $button-bg;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    line-height: 1.4;
    font-weight: 600;
    border: solid 1px black;
    transition: 0.1s ease-in-out;

    &:focus {
      outline: none;
    }
    &:active {
      background-color: darken($button-bg, 10%);
    }

    svg {
      animation: nudge 1000ms linear infinite alternate;
    }
  }
}
@include md {
  .button {
    button {
      &:hover {
        background-color: darken($button-bg, 5%);
      }
    }
  }
}
@keyframes nudge {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(5px, 0);
  }
}
