@import "variables";

@keyframes fillers-scroll {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-40px);
  }
  62% {
    transform: translateY(-40px);
  }
  67% {
    transform: translateY(-80px);
  }
  95% {
    transform: translateY(-80px);
  }
}
@keyframes fillers-scroll-md {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-100px);
  }
  62% {
    transform: translateY(-100px);
  }
  67% {
    transform: translateY(-200px);
  }
  95% {
    transform: translateY(-200px);
  }
}
.fillers__treatments__list {
  line-height: 40px;
  padding-left: 8px;
  height: 40px;
  overflow: hidden;
  list-style: none;

  li {
    animation: fillers-scroll 8s infinite;

    @include md {
      animation: fillers-scroll-md 8s infinite;
    }
  }

  @include md {
    line-height: 100px;
    padding-left: 0;
    height: 100px;
  }
}

$arrow-size: 1px;

.card__arrow {
  position: absolute;
  width: 10%;
  height: $arrow-size;
  background: black;
  transition-duration: 550ms;
  top: 100px;
  position: relative;
  display: none;

  div {
    width: 20px;
    height: $arrow-size;
    background: black;
    position: absolute;
    right: 0;
    transform-origin: right;

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }

  @include md {
    display: block;
  }
}

.card-container {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;

  @include md {
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5vh;
    height: 70vh;
    margin-bottom: 100px;

    &:hover {
      article {
        transition-duration: 550ms;
        transform: translateX(5px);
      }
    }
  }

  // .h1 {
  //   mix-blend-mode: difference;
  //   color: #212121;
  //   font-size: 40px;
  //   -webkit-text-stroke-width: 0px;
  //   position: absolute;
  //   margin-top: -28px;
  //   margin-left: -12px;
  //   z-index: 100;
  // }
  figure {
    grid-column: 1;
    grid-row: 1 / 3;
    position: relative;
    margin: 0;
  }

  article {
    margin-bottom: 10vh;
    grid-column: 1;
    transition-duration: 200ms;

    h2 {
      display: flex;
      @include md {
        display: block;
        font-size: 85px;
        line-height: 90px;
      }
    }

    @include md {
      margin-bottom: 0;
      grid-row: 1 / 3;
      grid-column: 2;
      align-self: center;

      &:hover {
        .card__arrow {
          width: 100%;
        }
      }
    }
  }

  .middle {
    width: 100%;
    position: relative;
  }
}

.card__title {
  -webkit-text-stroke: 1px black;
  -webkit-font-smoothing: antialiased;
  font-family: neue-haas-grotesk-display, sans-serif;
  margin-left: -10vw;
  font-size: 20vw;
  font-weight: 600;
  color: transparent;
  left: 50%;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;

  z-index: -1;

  &:hover {
    cursor: default;
  }
}
