@import "variables";

.card-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  h1 {
    mix-blend-mode: difference;
    color: #212121;
    font-size: 40px;
    -webkit-text-stroke-width: 0px;
    position: absolute;
    margin-top: -28px;
    margin-left: -12px;
    z-index: 100;
  }
  .top {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;

    .card-shadow {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .img {
      position: relative;
      width: inherit;
      height: 100vw;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }
    h3 {
      left: 13px;
      mix-blend-mode: color-dodge;
      margin: 0;
      bottom: 0;
      position: absolute;
      transform: rotate(270deg);
      transform-origin: bottom left;
      font-family: acumin-pro;
      font-weight: 600;
      font-size: 30px;
      color: rgb(168, 82, 82);
    }
  }

  .middle {
    width: 100%;
    position: relative;
  }
}

@include md {
}
