@import "variables";

$padding: 3.5em;
$margin: 3.5em;

.container {
  padding-top: $padding;
  padding-bottom: $padding;
  margin-top: $margin;
  margin-bottom: $margin;

  @include md {
    margin: 0;
  }
}
