@import "variables";

.footer__title {
  margin-block-start: 0 !important;
  font-weight: 400;
}

footer {
  padding: 5vw 10vw 0 10vw;
  font-size: 18px;

  table {
    margin: 0;
  }

  td {
    vertical-align: top;
  }

  div {
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
    padding-bottom: 50px;

    li {
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 600;

      a {
        font-weight: 600;

        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .copyright {
    width: 100%;
    font-weight: 300;
    font-size: 12px;
  }
}

@include md {
  footer {
    display: flex;
    flex-wrap: wrap;

    div {
      margin-right: 100px;
    }
  }
}
