@import "variables";

footer {
  flex-shrink: 0;
  background-color: $primary;

  padding: 5vw 10vw 15vw 10vw;
  color: #202121;
  font-weight: bold;

  .social-media-container {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin-right: 10px;
    }
  }

  .copyright {
    font-weight: 300;
    margin-top: 0vw;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
}
