@import "variables";

.hamburger {
  background: none;
  z-index: 9999;

  right: calc(8vw + 3px);
  top: calc(10vw - 17px);
  position: fixed;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: $hamburger-size;

  border: none;

  .hamburger-text {
    font-family: "Literata", serif;
    line-height: 0.5;
    margin: auto;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }

  .underline {
    display: none;
    position: absolute;
    top: 35px;
    width: inherit;
    height: 5px;
    border-radius: 10px;
    background: $secondary;
    opacity: 20%;
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .hamburger {
    top: 0;
    left: 0;
    height: 70px;
  }
}
