@import "variables";

.hamburger {
  background: none;
  z-index: 9999;
  right: 6vw;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $hamburger-size;
  min-width: $hamburger-size;

  width: 15vw;
  border: none;

  .hamburger-text {
    font-family: "Literata", serif;

    font-size: 1.2rem;
    font-weight: 800;
    margin: auto;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }

  .underline {
    position: absolute;
    top: 35px;
    width: inherit;
    height: 5px;
    border-radius: 10px;
    background: $secondary;
    opacity: 20%;
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .hamburger {
    top: 0;
    left: 0;
    height: 70px;
  }
}
