@import "variables";

.hamburger {
  padding: 0;
  background: none;
  z-index: 9999;
  right: calc(8vw + 3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $hamburger-size;
  border: none;

  .hamburger-text {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }

  .underline {
    display: none;
    position: absolute;
    top: 35px;
    width: inherit;
    height: 5px;
    border-radius: 10px;
    background: $secondary;
    opacity: 20%;
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .hamburger {
    display: none;
    padding: 0;
    top: 0;
    left: 0;
    height: 70px;
    width: 10vw;
  }
}
