@import "variables";

nav {
  .menu-container {
    z-index: 1;
    position: fixed;
    height: $hamburger-size;
    width: $hamburger-size;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: center;
    border-radius: 100%;
    background-color: rgb(255, 164, 164);
  }
  .menu-expanded {
    transform: scale(36);
  }
  .menu-collapsed {
    transform: scale(0);
    transition-delay: 0.15s;
  }

  .trails-text {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: palevioletred;
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
  }

  .trails-text > div {
    overflow: hidden;
  }

  ul {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9500;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: $hamburger-size;
    list-style: none;
    padding: 0;
    li {
      display: inline-flex;

      // Nav Links
      a {
        text-decoration: none;
        padding: 20px;
        color: white;
        font-size: 54px;
        text-transform: uppercase;
      }
    }
  }

  * {
    &::selection {
      color: white;
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  nav {
    ul {
      left: 250px;
      top: 200px;
    }
    .menu-expanded {
      transform: scale(20);
    }
  }
}
