@import "variables";

.route-active {
  text-decoration: underline;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: palevioletred;
  font-weight: 800;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}
nav {
  .overlay {
    opacity: 0.9;
    right: 0;
    bottom: 0;
    z-index: 8000;
    position: fixed;
    height: $hamburger-size;
    width: $hamburger-size;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: bottom right;
    border-radius: 100% 0 0 0;
    background-color: rgb(255, 164, 164);
  }

  .overlay-active {
    transform: scale(30);
  }
  .overlay-inactive {
    transform: scale(0);
    transition-delay: 0.15s;
  }

  ul {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9500;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: $hamburger-size;
    list-style: none;
    padding: 0;
    li {
      display: inline-flex;

      // Nav Links
      a {
        text-decoration: none;
        padding: 20px;
        color: white;
        font-size: 3em;
      }
    }
  }

  * {
    &::selection {
      color: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .trails-text {
    height: 50px;
  }
  nav {
    .overlay {
      display: none; //deactivate
      top: 0;
      left: 0;
      transform-origin: top left;
      border-radius: 0 0 100% 0;
    }
    .overlay-active {
      transform: scale(12);
    }
    ul {
      width: 15vw;
      left: 0;
      top: 70px;
      transform: translate(0, 0);
      li {
        a {
          font-size: 16px;
          color: black;
        }
      }
    }
  }
}
