@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Literata", serif;
}

h1 {
  font-size: 11vw;
  max-width: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Literata", serif;
}

.h3-title {
  margin: 10vw 0;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
