@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  // font-family: "Literata", serif;
  -webkit-font-smoothing: antialiased;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 11vw;
  max-width: 100%;

  //font-family: "Literata", serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.headline {
  color: rgb(17, 17, 17);
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.216px;
  line-height: 28px;

  text-align: center;
}
.subhead {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.374px;
  line-height: 25px;
  color: rgb(17, 17, 17);
  text-align: center;
}
.body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5625;
  font-family: acumin-pro, sans-serif;
  color: #191919;
}

.stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.skew {
  transform: skewY(-5deg);
}
.treatments__portal {
  display: flex;
  align-items: center;
}
@include md {
  .headline {
    width: 50%;
    text-align: left;
  }

  .subhead {
    text-align: left;
    width: 50%;
  }
}
