@import "variables";

h1 {
  font-size: 11vw;
  max-width: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Literata", serif;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
