$primary: #ffa4a4;
$secondary: #d87171;
$test: rgb(100, 84, 100);

// BREAKPOINTS
$breakpoint-mobile: 700px;

//APP
$global-padding: 10vw;

// NAV VARIABLES
$hamburger-size: 48px;

// FOOTER
$footer-height: 300px;
