.wheel {
  list-style: none;
  font-family: monospace;
  height: 30vw;
  width: 30vw;
  // border: solid 1px red;

  border-radius: 50%;

  transform-origin: center;
  padding: 0;

  li {
    font: 26px Monaco, MonoSpace;
    font-weight: 100;
    height: 100px;

    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
  }

  $num-letters: 29;
  $angle-span: 350deg;
  $angle-offset: 0deg;
  $angle-per-char: $angle-span / $num-letters;

  @for $i from 1 through $num-letters {
    li:nth-of-type(#{$i}) {
      transform: translate(-50%, 0%)
        rotate($angle-offset + $angle-per-char * $i);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
