@import url("https://fonts.googleapis.com/css?family=Literata:400,500,600,700&display=swap");

@import url("https://use.typekit.net/pmp2upa.css");

body {
  background-color: #f1f1f1;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
